/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.background-div {
  background-image: url('https://png.pngtree.com/background/20230426/original/pngtree-fashion-store-interior-of-a-men-s-clothing-store-picture-image_2490200.jpg');
  background-size: cover;  /* Ensures the image covers the whole div */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Makes the background fixed */
  min-height: 100vh; /* Sets minimum height to viewport height */
}

.background-img {
  background-image: url('https://png.pngtree.com/background/20240412/original/pngtree-3d-illustration-of-the-interior-of-a-fashion-store-picture-image_8464909.jpg');
  background-size: cover;  /* Ensures the image covers the whole div */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Makes the background fixed */
  min-height: 120vh; /* Sets minimum height to viewport height */
}